services:
  rsshub:
    image: diygod/rsshub
    restart: always
    command: /usr/local/bin/rsshub-start
    depends_on:
      redis:
        condition: service_healthy
      browserless:
        condition: service_healthy
    environment:
      - NODE_ENV=production
      - CACHE_TYPE=redis
      - REDIS_URL=redis://redis:6379/
      - PLAYWRIGHT_WS_ENDPOINT=ws://browserless:3000
      - ACCESS_KEY={{ rsshub_access_key | replace('$', '$$') }}
    ports:
      - "127.0.0.1:{{ rsshub_local_port }}:1200"
    volumes:
      - ./start.sh:/usr/local/bin/rsshub-start:ro
    healthcheck:
      test: ["CMD-SHELL", 'curl -f "http://localhost:1200/healthz?key=$${ACCESS_KEY}"']
      interval: 30s
      start_period: 30s
    logging:
      driver: local

  browserless:
    image: browserless/chrome
    restart: always
    ulimits:
      core:
        hard: 0
        soft: 0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/pressure"]
      interval: 30s
      start_period: 30s
    logging:
      driver: local

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - /srv/rsshub/redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      start_period: 10s
    logging:
      driver: local
