services:
  uptime_kuma:
    image: louislam/uptime-kuma:2-slim
    restart: always
    volumes:
      - /srv/uptime/data:/app/data
    ports:
      - "127.0.0.1:{{ uptime_local_port }}:3001"
    logging:
      driver: local
