server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ syncthing_domain }};

    ssl_certificate {{ syncthing_cert }};
    ssl_certificate_key {{ syncthing_key }};

    location / {
        proxy_pass http://{{ syncthing_gui_address }};
        include snippets/rproxy.conf;
    }
}
