log-level: error
mixed-port: 7890
allow-lan: false
ipv6: false
mode: rule

geodata-mode: true
geo-auto-update: true
geo-update-interval: 24
geox-url:
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat"
  geosite: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  asn: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/GeoLite2-ASN.mmdb"

proxies:
{% for proxy_host in proxy_hostnames %}
  - name: {{ proxy_host | to_json }}
    type: ss
    server: {{ proxy_hosts[proxy_host] | to_json }}
    port: 8388
    cipher: 2022-blake3-aes-128-gcm
    password: {{ proxy_ss_passwords[proxy_host] | to_json }}
    udp: true
{% endfor %}

proxy-groups:
  - name: default
    type: select
    proxies:
      - DIRECT
      - proxy
  - name: proxy
    type: select
    proxies:
{% for proxy_host in proxy_hostnames %}
      - {{ proxy_host | to_json }}
{% endfor %}
      - DIRECT
  - name: cn
    type: select
    proxies:
      - DIRECT
{% for proxy_host in proxy_hostnames %}
      - {{ proxy_host | to_json }}
{% endfor %}
  - name: ai
    type: select
    proxies:
{# AI requires stable IPs, so we do not use the proxy group #}
{% for proxy_host in proxy_hostnames | move_first(proxy_ai_hostname) %}
      - {{ proxy_host | to_json }}
{% endfor %}
      - DIRECT

{% set openai_asns = [401518, 401864] %}{# OpenAI #}
{% set anthropic_asns = [399358] %}{# Anthropic #}
{% set proxy_ai_asns = proxy_ai_asns | default(openai_asns + anthropic_asns) %}

rule-providers:
  anti-ad:
    type: http
    behavior: domain
    format: yaml
    url: "https://anti-ad.net/clash.yaml"
    path: ./ruleset/anti-ad.yaml
    interval: 86400

rules:
  - GEOSITE,private,DIRECT
  - GEOIP,private,DIRECT,no-resolve
  - DOMAIN-SUFFIX,ts.net,DIRECT

  - RULE-SET,anti-ad,REJECT

  - DOMAIN,downloads.claude.ai,default
  - DOMAIN-KEYWORD,claude,ai
  - DOMAIN-KEYWORD,anthropic,ai
  - DOMAIN-KEYWORD,chatgpt,ai
  - DOMAIN-KEYWORD,openai,ai
  - DOMAIN-KEYWORD,gemini,ai
  - DOMAIN-SUFFIX,aistudio.google.com,ai
  - DOMAIN-SUFFIX,generativelanguage.googleapis.com,ai
  - DOMAIN-KEYWORD,openrouter,ai

{{ lookup('file', '../secrets/clash_rules_extend.yaml').split('\n')[1:] | join('\n') }}

  - GEOSITE,cn,cn

{% for proxy_ai_asn in proxy_ai_asns %}
  - IP-ASN,{{ proxy_ai_asn }},ai
{% endfor %}

  - GEOIP,CN,cn
  - MATCH,default
