Domain = "{{ mc_auth_domain }}"
BaseURL = "https://{{ mc_auth_domain }}"
DefaultAdmins = ["{{ mc_auth_admin_username }}"]

[CreateNewPlayer]
Allow = true

[RegistrationNewPlayer]
Allow = true
RequireInvite = true
