Domain = "{{ mc_auth_domain }}"
BaseURL = "https://{{ mc_auth_domain }}"
DefaultAdmins = ["{{ mc_auth_admin_username }}"]
ApplicationName = "myl7's Minecraft Auth"
InstanceName = "myl7's Minecraft Auth"
ApplicationOwner = "myl7"

[CreateNewPlayer]
Allow = true

[RegistrationNewPlayer]
Allow = true
RequireInvite = true
